registry=http://98.84.180.105:8081/repository/nodejs-hosted/

always-auth=true
email=devopstrainingblr@gmail.com

//98.84.180.105:8081/repository/nodejs-hosted/:username=admin
//98.84.180.105:8081/repository/nodejs-hosted/:_password=YWRtaW46T21uaXZpc3RAMTIz
