registry=http://98.84.180.105:8081/repository/nodejs-group/

always-auth=true
email=devopstrainingblr@gmail.com

//98.84.180.105:8081/repository/nodejs-group/:username=admin
//98.84.180.105:8081/repository/nodejs-group/:_password=YWRtaW46T21uaXZpc3RAMTIz
